.home .top {
  background: linear-gradient(
      180deg,
      rgba(33, 40, 59, 0) 0%,
      rgba(33, 40, 59, 0.7) 66.67%,
      #21283b 100%
    ),
    url('../../img/poster.jpg');
  background-attachment: fixed;
  margin-bottom: 16px;
  height: 75vh;
}

.home .welcome {
  text-align: center;
  font-weight: 600;
}

.home .welcome .slogan {
  font-size: 24px;
  padding: 0;
  color: #ad73e8;
}

.home .welcome .online {
  margin-bottom: 64px;
  color: #f0bd24;
}
.home .welcome .online span {
  color: #8ce830;
  margin-right: 6px;
}

.home .info p span {
  color: var(--color-base);
  padding: 9px 16px;
  border-radius: 12px;
  background-color: var(--color-text-dark);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  opacity: 0.6;
}

.home .info p span a {
  color: var(--color-base);
}

.home .logo {
  width: auto;
  height: 420px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .home .logo {
    height: 260px;
  }
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .home .main {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  .home .main .posts {
    grid-area: home-posts;
  }

  .home .main .sidebar {
    grid-area: home-sidebar;
    display: none;
  }

  @media screen and (min-width: 1000px) {
    .home .main .sidebar {
      display: block;
    }

    .home .main {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: '. home-posts home-sidebar .';
      column-gap: 16px;
      row-gap: 16px;
    }
  }
}
