@import '../../styles/colors';

.home .top {
  background: url('../../img/poster.jpg') no-repeat center/cover;
  background-attachment: fixed;
}

.home .logo {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.home .main {
  .posts,
  .sidebar {
    margin-top: 20px;
  }
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .home .main {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  .home .main .banner {
    grid-area: home-banner;
  }

  .home .main .posts {
    grid-area: home-posts;
  }

  .home .main .sidebar {
    grid-area: home-sidebar;
  }

  @media screen and (min-width: 800px) {
    .home .main {
      display: grid;
      grid-template-columns: 1fr 5fr 2fr 1fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas:
        '. home-banner home-banner .'
        '. home-posts home-sidebar .';
    }
  }
}
