.guide {
  padding-bottom: 24px;
}

.guide .sub-list {
  padding: 18px 0 0 40px;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  background-color: var(--color-base);
}

.guide .guideSubroute {
  background-color: var(--color-base);
}

.guide .filler-1,
.guide .filler-2 {
  background-color: var(--color-background);
}

.guide .banner-container {
  padding: 20px 0;
}

.guide .banner {
  max-width: 70%;
  margin: auto;
  padding-top: 16px;
}

@media screen and (min-width: 1000px) {
  .guide .sub-list {
    max-height: none;
  }
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .guide .subrouter {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  .guide .sub-list {
    grid-area: guide-sub-list;
  }

  .guide .guideSubroute {
    grid-area: guide-subroute;
  }

  .guide .filler-1 {
    grid-area: guide-filler-1;
  }

  .guide .filler-2 {
    grid-area: guide-filler-2;
  }

  @media screen and (min-width: 1000px) {
    .guide .subrouter {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'guide-sub-list guide-subroute';
      column-gap: 16px;
      row-gap: 16px;
    }
  }

  @media screen and (min-width: 1400px) {
    .guide .subrouter {
      display: grid;
      grid-template-columns: 1fr 1fr 4fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'guide-filler-1 guide-sub-list guide-subroute guide-filler-2';
      column-gap: 16px;
      row-gap: 16px;
    }

    .guide .sub-list {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }

    .guide .guideSubroute {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
}

/* Subroutes */
.guideSubroute {
  padding-left: 8px;
}
.guideSubroute .guide-page {
  padding: 0 16px;
}

.guideSubroute h1 {
  padding-bottom: 0;
  margin-bottom: 16px;
  border-bottom: solid 2px var(--color-text);
}

.guideSubroute h2 span,
.guideSubroute h3 span {
  border-bottom: solid 1px var(--color-text);
}

.guide-page h1,
.guide-page h2,
.guide-page h3 {
  padding: 0;
}

.guide-page .section {
  padding-bottom: 20px;
}
