.oauth-links {
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 32px;
}

.oauth-links .oauth-link {
  margin-right: 12px;
}

.oauth-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

button.oauth-link {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

button.oauth-link:disabled {
  cursor: default;
  background-color: var(--color-divider);
}

.oauth-link:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.oauth-link.facebook {
  background-color: #3763d2;
}

.oauth-link.twitter {
  background-color: #1abcff;
}

.oauth-link.twitch {
  background-color: #7b5dfa;
}

.oauth-link.google {
  background-color: #fd434f;
}
