@import '../../styles/colors';

.button {
  padding: 1rem 2rem;

  &-primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &-secondary {
    background-color: $color-secondary;
    color: $color-black;
  }
}
