:root {
  --color-primary-light: #8ce830;
  --color-primary: #99cc00;
  --color-primary-dark: #71aa34;
  --color-primary-darker: #418a28;

  --color-secondary-light: #f4d71b;
  --color-secondary: #f0bd24;
  --color-secondary-dark: #f2a726;
  --color-secondary-darker: #c6690c;

  /* FEEDBACK */

  --color-danger: #ef476f;

  /* BLACK & WHITE */

  --color-white: #f2f2f8;
  --color-white-dark: #dedeed;

  --color-black: #2f3749;
  --color-black-dark: #21283b;
}

/* THEMES */

[data-theme='dark'] {
  --color-background: #161b28;
  --color-base: #21283b;
  --color-base-light: #2e3752;
  --color-divider: #3c465d;
  --color-text: #f2f2f8;
  --color-text-dark: #dedeed;
}

[data-theme='light'] {
  --color-background: #30271d;
  --color-base: #403326;
  --color-base-light: #604d39;
  --color-divider: #6b5a47;
  --color-text: #f2f2f8;
  --color-text-dark: #dedeed;
}

[data-theme='brown'] {
  --color-background: #3b5998;
  --color-base: #8b9dc3;
  --color-base-light: #dfe3ee;
  --color-divider: #f7f7f7;
  --color-text: #2f3749;
  --color-text-dark: #21283b;
}
