$color-primary-light: #8ce830;
$color-primary: #99cc00;
$color-primary-dark: #71aa34;
$color-primary-darker: #418a28;

$color-secondary-light: #f9c74f;
$color-secondary: #f8961e;
$color-secondary-dark: #f3722c;
$color-secondary-darker: #c22f0a;

$color-white: #f8f8fb;
$color-white-dark: #efeff6;

$color-black-light: #21283b;
$color-black: #1d2333;
$color-black-dark: #161b28;
