/* THEME */

$color-primary-light: #8ce830;
$color-primary: #99cc00;
$color-primary-dark: #71aa34;
$color-primary-darker: #418a28;

$color-secondary-light: #f4d71b;
$color-secondary: #f0bd24;
$color-secondary-dark: #f2a726;
$color-secondary-darker: #c6690c;

/* FEEDBACK */

$color-danger: #ef476f;

/* BLACK & WHITE */

$color-white: #f2f2f8;
$color-white-dark: #dedeed;

$color-black: #2f3749;
$color-black-dark: #21283b;
