$color-primary-light: #8ce830;
$color-primary: #99cc00;
$color-primary-dark: #71aa34;
$color-primary-darker: #418a28;

$color-secondary-light: #f4d71b;
$color-secondary: #f0bd24;
$color-secondary-dark: #f2a726;
$color-secondary-darker: #c6690c;

$color-white: #f8f8fb;
$color-white-dark: #efeff6;

$color-black-light: #21283b;
$color-black: #1d2333;
$color-black-dark: #161b28;
