@import './colors';
@import './icons';
@import './scrollbar';
@import './text';
@import './util';

/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

img {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: var(--color-background);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: var(--color-text);
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&display=swap');

body,
button,
input,
select,
textarea,
a {
  color: var(--color-text);
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 4px;
}

p {
  margin: 0;
  padding: 12px 0;
  width: 100%;
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

.fullpage {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .main-content {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Flexbox layout for wider screens, when browser supports flexbox:
--------------------------------------------------------------*/

.flex-one {
  flex: 1 1 auto;
}

@supports (display: flex) {
  .flex-container {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  @media screen and (max-width: 800px) {
    .flex-container {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 800px) {
    .flex-container.column {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .flex-container.row {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    .flex-container.column-reverse {
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }

    .flex-container.row-reverse {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
  }

  /* use a second flex in main-content to force max available height */
  .main-content {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  .grid {
    width: 100%;
    flex: 1; /* use all available height */
  }
}
