/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-black) #8d99ae;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #8d99ae;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 20px;
}
