@import '../../styles/colors';

.card {
  border-radius: 12px;
  background-color: $color-black;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  min-width: 320px;
  min-height: 240px;
  margin-top: 9px;
  margin-bottom: 9px;

  .card-footer {
    background-color: $color-black-light;
    margin-top: auto;
    border-top: 1px solid #2f3749;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    min-height: 60px;
  }
}
