.card {
  border-radius: 12px;
  background-color: var(--color-base);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  min-height: 240px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.card p {
  text-align: start;
  padding-left: 24px;
  padding-right: 24px;
}

.card .card-header {
  text-align: center;
  font-weight: 700;
  font-size: 1.625rem;
}

.card .card-footer {
  background-color: var(--color-base-light);
  margin-top: auto;
  border-top: 1px solid var(--color-divider);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  min-height: 60px;
}

.card .small {
  max-width: 484px;
}
