.store {
  padding-bottom: 24px;
}

.store .sub-list {
  padding: 18px 20px 8px 20px;
  width: 100%;
  background-color: var(--color-base);
  justify-content: space-between;
  flex-wrap: wrap;
}

.store .sub-list li {
  flex: 1 1 auto;
}
.store .sub-list li a {
  font-size: xx-large;
}

/* .store .storeSubroute {
  background-color: var(--color-base);
} */

.store .banner-container {
  padding: 20px 0;
}

.store .banner {
  max-width: 70%;
  margin: auto;
  padding-top: 16px;
}

@media screen and (min-width: 1000px) {
  .store .sub-list {
    max-height: none;
  }
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .store .subrouter {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  .store .sub-list {
    grid-area: store-sub-list;
  }

  .store .storeSubroute {
    grid-area: store-subroute;
  }

  .store .filler-1 {
    grid-area: store-filler-1;
  }

  .store .filler-2 {
    grid-area: store-filler-2;
  }

  @media screen and (min-width: 1400px) {
    .store .subrouter {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        'store-filler-1 store-sub-list store-filler-2'
        'store-filler-1 store-subroute store-filler-2';
      column-gap: 16px;
      row-gap: 16px;
    }

    .store .sub-list,
    .store .storeSubroute {
      border-radius: 16px;
    }
  }
}

/* Subroutes */
.storeSubroute {
  padding-left: 8px;
}
.storeSubroute .store-page {
  padding: 0 16px;
}
s .storeSubroute h1 {
  padding-bottom: 0;
  margin-bottom: 16px;
  border-bottom: solid 2px var(--color-text);
}

.storeSubroute h2 span,
.storeSubroute h3 span {
  border-bottom: solid 1px var(--color-text);
}

.store-page h1,
.store-page h2,
.store-page h3 {
  padding: 0;
}

.store-page .section {
  padding-bottom: 20px;
}

/* Button Reset */

.store .subrouter .active {
  color: var(--color-secondary-darker);
}

/* Button Style */

.store .sub-list li {
  color: var(--color-white);
  border: none;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.store .sub-list li:disabled {
  cursor: default;
}

.store .sub-list li a {
  display: block;
  transform: translate(12px, -12px);
  transition: all 0.2s ease;
  position: relative;
  z-index: 10;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-top: 49px;
  padding-right: 50px;
  padding-bottom: 51px;
  padding-left: 50px;
}

.store .sub-list li:before,
.store .sub-list li:after {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  transition: all 0.2s ease;
}

.store .sub-list li:before {
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(-45deg) scale(1);
}

.store .sub-list li:after {
  right: 0;
  bottom: 0;
  transform-origin: bottom right;
  transform: rotate(45deg) scale(1);
}

.store .sub-list li:hover a,
.store .sub-list li a.active {
  transform: translate(6px, -6px);
}

.store .sub-list li:hover:before,
.store .sub-list li.active:before {
  transform: rotate(-45deg) scale(0.5);
}

.store .sub-list li:hover:after,
.store .sub-list li.active:after {
  transform: rotate(45deg) scale(0.5);
}

.store .sub-list li,
.store .sub-list li:before,
.store .sub-list li:after {
  background-color: var(--color-primary-darker);
}

.store .sub-list li:disabled,
.store .sub-list li:disabled:before,
.store .sub-list li:disabled:after {
  background-color: var(--color-base-light);
}

.store .sub-list li:disabled a {
  background-color: var(--color-divider);
}

.store .sub-list li.active,
.store .sub-list li.active:before,
.store .sub-list li.active:after {
  background-color: var(--color-secondary-darker);
}

.store .sub-list li#\/ranks a {
  background: url('../../img/store/ranks.png'),
    linear-gradient(350deg, var(--color-primary-dark) 5%, var(--color-primary) 100%);

  background-repeat: no-repeat;
  background-position: right;
}

.store .sub-list li#\/ranks a.active {
  background: url('../../img/store/ranks.png'),
    linear-gradient(350deg, var(--color-secondary-dark) 5%, var(--color-secondary) 100%);

  background-repeat: no-repeat;
  background-position: right;
}

.store .sub-list li#\/crates a {
  background: url('../../img/store/crate_preview.png'),
    linear-gradient(350deg, var(--color-primary-dark) 5%, var(--color-primary) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.store .sub-list li#\/crates a.active {
  background: url('../../img/store/crate_preview.png'),
    linear-gradient(350deg, var(--color-secondary-dark) 5%, var(--color-secondary) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.store .sub-list li#\/boosts a {
  background: url('../../img/store/boost.png'),
    linear-gradient(350deg, var(--color-primary-dark) 5%, var(--color-primary) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.store .sub-list li#\/boosts a.active {
  background: url('../../img/store/boost.png'),
    linear-gradient(350deg, var(--color-secondary-dark) 5%, var(--color-secondary) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
