@import '../../styles/colors';

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

header {
  padding: 1em;
  background: $color-white;
  color: $color-white;
  min-height: 60px;
}

header.homepage {
  background: url('../../img/poster.jpg') no-repeat center/cover;
  background-attachment: fixed;
}

header img {
  display: inline;
  width: 80px;
  margin: 0 auto;
}

header a {
  font-size: 21px;
  margin-left: 9px;
  margin-right: 9px;
}

header a.active {
  font-size: 21px;
  color: $color-black-dark;
  margin-left: 9px;
  margin-right: 9px;
}

/*--------------------------------------------------------------
CSS Flexbox layout for wider screens, when browser supports flexbox:
--------------------------------------------------------------*/

@supports (display: flex) {
  header .section-1 {
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    display: flex;
  }

  header .section-2 {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  header .section-3 {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
}
