.gallery {
  transition: all ease 1s;
  display: flex;
  flex-wrap: wrap;
}

.gallery .item {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
  transition: all ease 400ms;
  padding: 4px;
}

.gallery .item:hover,
.gallery .item:focus {
  transform: scale(1.1);
  z-index: 50;
}

.gallery .item figure {
  transition: all ease 1s;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
}

.gallery .item figure img {
  transform: scale(1.4);
  transition: all ease 1s;
}

.gallery .item:hover figure,
.gallery .item:focus figure {
  transition: all ease 400ms;
}

.gallery .item:hover figure img,
.gallery .item:focus figure img {
  transform: scale(1.4);
  transition: all ease 1s;
}

.gallery.hover {
  transition: all ease 1s;
  /*   opacity:.7; */
}

.gallery.hover .item {
  opacity: 0.9;
  filter: blur(1px);
}

.gallery.hover .item:hover,
.gallery.hover .item:focus {
  opacity: 1;
  filter: blur(0);
}

.gallery .item figcaption {
  position: absolute;
  font-size: 18px;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  transform: scale(1.3);
  filter: blur(4px);
  opacity: 0;
  transition: 500ms;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-weight: bold;
}

.gallery .item:hover figcaption,
.gallery .item:focus figcaption {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
  transition: 300ms;
}
