.loader-bars {
  -ms-flex-pack: center;
  justify-content: center;
  height: 42px;
  margin: 48px auto 48px;
}

@keyframes loader-bars {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.loader-bars .loader-bar {
  width: 4px;
  height: 100%;
  margin-right: 4px;
  border-radius: 200px;
  -webkit-transform: scaleY(0.2);
  transform: scaleY(0.2);
  -webkit-animation: loader-bars 0.5s ease-in infinite alternate;
  animation: loader-bars 0.5s ease-in infinite alternate;
}

.loader-bars .loader-bar:first-child {
  background-color: #38b000;
}

.loader-bars .loader-bar:nth-child(2) {
  background-color: #5bbc02;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loader-bars .loader-bar:nth-child(3) {
  background-color: #79c707;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader-bars .loader-bar:nth-child(4) {
  background-color: #94d311;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader-bars .loader-bar:nth-child(5) {
  background-color: #afde1c;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loader-bars .loader-bar:nth-child(6) {
  background-color: #cae927;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.loader-bars .loader-bar:nth-child(7) {
  background-color: #e4f433;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loader-bars .loader-bar:nth-child(8) {
  background-color: #ffff3f;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.loader-bars .loader-bar:last-child {
  margin-right: 0;
}
