footer {
  padding: 1em 2em;
  background: var(--color-base);
  color: var(--color-text);
  height: 120px;
  min-height: 120px;
}

footer a {
  color: var(--color-text);
}

footer a:hover,
footer a:focus {
  border-bottom: 1px solid var(--color-text);
}
