footer {
  padding: 1em 2em 0 2em;
  background: var(--color-base);
  color: var(--color-text);
  height: 120px;
  min-height: 120px;
}

footer a {
  color: var(--color-text);
}

footer p {
  padding: 0;
}
