@import '../../styles/colors';

.Link {
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 6px;
  padding-left: 15px;
  border-radius: 9px;
  white-space: nowrap;
  outline: none;
}

a.Link {
  text-decoration: none;
}

.Link.variant--Cta {
  background-color: $color-cta;
  color: $color-white;
  -webkit-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
}

.Link.variant--Link {
  -webkit-transition-property: color, opacity;
  transition-property: color, opacity;
}
