.Link {
  font-weight: 600;
  border-radius: 9px;
  white-space: nowrap;
  outline: none;
}

a.Link {
  text-decoration: none;
}

.Link.variant--Cta {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
  -webkit-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
}

.Link.variant--Cta.secondary {
  background-color: var(--color-secondary-dark);
}

.Link.variant--Cta:hover {
  background-color: var(--color-primary);
}

.Link.variant--Cta.secondary:hover {
  background-color: var(--color-secondary);
}

.Link.variant--Link {
  -webkit-transition-property: color, opacity;
  transition-property: color, opacity;
}

.Link.variant--Link:hover {
  color: var(--color-primary-light);
}

.Link.variant--Link.secondary:hover {
  color: var(--color-primary-light);
}

[data-theme='light'] .Link.variant--Link:hover {
  color: var(--color-text-light);
  opacity: 0.6;
}

.Link.variant--Large {
  color: var(--color-white);
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 22px;
  padding-left: 35px;
}

.Link.variant--Link.variant--Large {
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  padding-top: 19px;
  padding-right: 34px;
  padding-bottom: 21px;
  padding-left: 34px;
}

.Link.variant--Link.variant--Large.secondary {
  color: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary-dark);
}

.Link.variant--Link.variant--Large:hover {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
}

.Link.variant--Link.variant--Large.secondary:hover {
  background-color: var(--color-secondary-dark);
}

p .Link.variant--Link {
  color: var(--color-primary);
}

p .Link.variant--Link:hover {
  color: var(--color-primary-light);
}
