.banner {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  width: 100%;
  min-height: 184px;
  max-height: 240px;
  border-radius: 16px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
}

.banner-content {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

.banner-icon {
  font-size: 9.4rem;
  font-weight: 700;
  justify-content: center;
}

.banner-title {
  font-size: 2.25rem;
  font-weight: 700;
}

.banner-text {
  font-size: 1.2rem;
  font-weight: 400;
}
